*.class
*.log
*.ctxt
*.jar
*.war
*.ear
target/
bin/

!/lib/*.jar
!/libs/*.jar

.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionary.xml
.idea/shelf/
.idea/caches/
out/
gen/
*.iml

.DS_Store
Thumbs.db